[user]
  email = wfriesen@gmail.com
  name = William Friesen
[diff]
  algorithm = histogram
  tool = vimdiff
[color "status"]
  changed = yellow
[color "grep"]
  linenumber = green
  match = bold red
  filename = magenta
[log]
  date = iso-local
  follow
[alias]
  diffone = "!git difftool \"$1\"^..\"$1\""
  tlog = "!git-tlog $@"
  d = diff --word-diff=color
  dt = difftool
  dtc = difftool --cached
  dc = diff --cached
  st = status
  sl = stash list
  sp = stash pop
  ap = add -p
  sh = show
  cm = commit -m
  plog = log --all --graph --decorate --oneline -m
[init]
  defaultBranch = master
[merge]
  conflictstyle = zdiff3
[commit]
  verbose = true
[help]
  autocorrect = prompt
